<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/5f7c69a0-f929-4225-905a-9ff7582cb9eb/resourceGroups/DBFirstapp20240428222036ResourceGroup/providers/Microsoft.ContainerRegistry/registries/DBFirstapp20240428222036</ResourceId>
    <ResourceName>DBFirstapp20240428222036</ResourceName>
    <ResourceGroup>DBFirstapp20240428222036ResourceGroup</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://dbfirstapp20240428222036.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a0bff477-298d-40f7-bed3-135c8fa3f09e</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>